{% extends "::layout.html.twig" %}

{% block rubrique %} : Modifier ou supprimer le cours d'iniation à la soirée {{soiree.titreSoiree}} {% endblock %}

{% block body %}
	
		<div class="row">
			<div class="col-md-12">
				<h1>Modifier/Supprimer le cours d'initiation à la soirée <a href="#fiche">{{soiree.titreSoiree}}</a></h1>
			</div>
		</div>		

		<!-- Suppression de la danse -->
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<a id="btnAddCoursInit" href="#addCoursInit" class="btn btn-success"> Modifier le cours d'initiation </a>
				<a id="btnSuppr" href="#" class="btn btn-danger"> Supprimer le cours d'initiation </a>
				
				<div id="confirSuppr" hidden>
					<p>
						Etes-vous certain de vouloir supprimer ce cours d'initiation ?
					</p>

					<form action="" method="POST" id="formSuppr">	
						<a id="btnAnnulerSuppr" href="#" class="btn btn-default">
							Ne pas supprimer
						</a>
						{# Ici j'ai écrit le bouton de soumission à la main #}	
						<input type="submit" value="Supprimer" class="btn btn-danger" />
						{# Ceci va générer le champ CSRF #}
						{{ form_rest(formSuppr) }}
					  </form>
				</div>
				
			</div>
		</div>
		
		<!-- Modification de la soirée -->
		<div class="row">
			<div class="col-md-offset-2 col-md-8 bordure">
				<h3>Modification des informations du cours d'initiation </h3>
				{% include "SoireesBundle:formAddEdit_CoursInit.html.twig" %}
			</div>
		</div>		
		
{% endblock %}
