{% extends "::layout.html.twig" %}

{% block rubrique %} : Inscription - Administration {% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
			    75%
			  </div>
			</div>
			<legend>Formulaire d'inscription aux cours : Choix des danses et niveaux de danse </legend>
			<div class="col-md-offset-1 col-md-10">
				{{ form(form) }}
			</div>
		</div>
    </div>
{% endblock %}
