{% extends "::layout.html.twig" %}

{% block rubrique %} : Stage non viable {% endblock %}

{% block body %}
	
	<div class="row">
		<div class="col-md-12">
			<h1 class="gras rouge"> Le stage {{ titreStage }} n'est plus viable !</h1>
			<h3> En effet le nombre maximum de stagiaire a été atteind... </h3>
		</div>
	</div>
	
{% endblock %}
